<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Estimate</key>
	<dict>
		<key>status</key>
		<string>status</string>
		<key>duration</key>
		<string>duration</string>
		<key>starts_at</key>
		<string>starts_at</string>
		<key>id</key>
		<string>entity_id</string>
		<key>purchase_order_number</key>
		<string>purchase_order_number</string>
		<key>updated_at</key>
		<string>updated_at</string>
		<key>issued_on</key>
		<string>issued_on</string>
		<key>expires_on</key>
		<string>expires_on</string>
		<key>notes</key>
		<string>notes</string>
	</dict>
	<key>StageModel</key>
	<dict>
		<key>notes</key>
		<string>notes</string>
		<key>updated_at</key>
		<string>updated_at</string>
		<key>floor</key>
		<string>floor</string>
		<key>image_url</key>
		<string>image_url</string>
		<key>vg_url</key>
		<string>vg_url</string>
		<key>entity_id</key>
		<string>id</string>
		<key>title</key>
		<string>name</string>
		<key>building</key>
		<string>building</string>
	</dict>
	<key>PDFAttachment</key>
	<dict>
		<key>pdf_form_id</key>
		<string>pdf_form_id</string>
		<key>entity_status</key>
		<string>entity_status</string>
		<key>attached_pdf_form_file_size</key>
		<string>attached_pdf_form_file_size</string>
		<key>attached_pdf_form_content_type</key>
		<string>attached_pdf_form_content_type</string>
		<key>attached_pdf_form_file_name</key>
		<string>attached_pdf_form_file_name</string>
		<key>comments</key>
		<string>comments</string>
		<key>attachment_content_type</key>
		<string>attachment_content_type</string>
		<key>attachment_file_size</key>
		<string>attachment_file_size</string>
		<key>attachment_file_name</key>
		<string>attachment_file_name</string>
		<key>appointment_occurrence_id</key>
		<string>appointment_occurrence_id</string>
		<key>entity_id</key>
		<string>id</string>
		<key>updated_at</key>
		<string>updated_at</string>
	</dict>
	<key>User</key>
	<dict>
		<key>stripe_pk</key>
		<string>stripe_pk</string>
		<key>is_admin</key>
		<string>is_admin</string>
		<key>show_balance_forward</key>
		<string>show_balance_forward</string>
		<key>country</key>
		<string>country</string>
		<key>show_photos</key>
		<string>show_photos</string>
		<key>entity_id</key>
		<string>id</string>
		<key>license_number</key>
		<string>license_number</string>
		<key>first_name</key>
		<string>first_name</string>
		<key>last_name</key>
		<string>last_name</string>
		<key>account_id</key>
		<string>account_id</string>
		<key>mobile_customers_access</key>
		<string>mobile_customers_access</string>
		<key>service_route_id</key>
		<string>service_route_id</string>
		<key>hide_customer_details</key>
		<string>hide_customer_details</string>
		<key>inspections_enabled</key>
		<string>inspections_enabled</string>
		<key>show_environment_fields</key>
		<string>show_environment_fields</string>
	</dict>
	<key>Payment</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>amount</key>
		<string>amount</string>
		<key>payment_method</key>
		<string>payment_method</string>
		<key>check_number</key>
		<string>check_number</string>
		<key>created_from_mobile</key>
		<string>created_from_mobile</string>
		<key>payment_date</key>
		<string>payment_date</string>
	</dict>
	<key>Invoice</key>
	<dict>
		<key>approved</key>
		<string>approved</string>
		<key>invoice_number</key>
		<string>invoice_number</string>
		<key>tax_amount</key>
		<string>tax_amount</string>
		<key>total</key>
		<string>total</string>
		<key>discount</key>
		<string>discount</string>
		<key>discount_amount</key>
		<string>discount_amount</string>
		<key>callback</key>
		<string>callback</string>
	</dict>
	<key>InspectionRecord</key>
	<dict>
		<key>floor</key>
		<string>floor</string>
		<key>building</key>
		<string>building</string>
		<key>entity_status</key>
		<string>entity_status</string>
		<key>trap_id</key>
		<string>trap_id</string>
		<key>trap_condition_id</key>
		<string>trap_condition_id</string>
		<key>bait_condition_id</key>
		<string>bait_condition_id</string>
		<key>removed</key>
		<string>removed</string>
		<key>exception</key>
		<string>exception</string>
		<key>entity_id</key>
		<string>id</string>
		<key>location_area_id</key>
		<string>location_area_id</string>
		<key>barcode</key>
		<string>barcode</string>
		<key>notes</key>
		<string>notes</string>
		<key>evidence</key>
		<string>evidence</string>
		<key>evidence_ids</key>
		<string>evidence_ids</string>
		<key>trap_number</key>
		<string>trap_number</string>
		<key>device_number</key>
		<string>device_number</string>
		<key>trap_type_id</key>
		<string>trap_type_id</string>
		<key>scanned_on</key>
		<string>scanned_on</string>
	</dict>
	<key>PhotoAttachment</key>
	<dict>
		<key>entity_status</key>
		<string>entity_status</string>
		<key>entity_id</key>
		<string>id</string>
		<key>appointment_occurrence_id</key>
		<string>appointment_occurrence_id</string>
		<key>attachment_file_name</key>
		<string>attachment_file_name</string>
		<key>attachment_content_type</key>
		<string>attachment_content_type</string>
		<key>attachment_file_size</key>
		<string>attachment_file_size</string>
		<key>comments</key>
		<string>comments</string>
		<key>updated_at</key>
		<string>updated_at</string>
	</dict>
	<key>FWPDFForm</key>
	<dict>
		<key>use_acrobat</key>
		<string>use_acrobat</string>
		<key>document_url</key>
		<string>document_url</string>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
		<key>document_file_name</key>
		<string>document_file_name</string>
		<key>document_content_type</key>
		<string>document_content_type</string>
		<key>document_file_size</key>
		<string>document_file_size</string>
	</dict>
	<key>CustomerDevice</key>
	<dict>
		<key>service_frequency</key>
		<string>service_frequency</string>
		<key>entity_id</key>
		<string>id</string>
		<key>barcode</key>
		<string>barcode</string>
		<key>notes</key>
		<string>notes</string>
		<key>building</key>
		<string>building</string>
		<key>floor</key>
		<string>floor</string>
		<key>location_details</key>
		<string>location_details</string>
		<key>trap_type_id</key>
		<string>trap_type_id</string>
		<key>service_location_id</key>
		<string>service_location_id</string>
		<key>customer_id</key>
		<string>customer_id</string>
		<key>number</key>
		<string>number</string>
		<key>device_area_id</key>
		<string>device_area_id</string>
	</dict>
	<key>Contact</key>
	<dict>
		<key>phones</key>
		<string>phones</string>
		<key>phones_exts</key>
		<string>phones_exts</string>
		<key>phones_kinds</key>
		<string>phones_kinds</string>
		<key>phone_kind</key>
		<string>phone_kind</string>
		<key>email</key>
		<string>email</string>
		<key>email_invoices</key>
		<string>email_invoices</string>
		<key>email_work_orders</key>
		<string>email_work_orders</string>
		<key>first_name</key>
		<string>first_name</string>
		<key>last_name</key>
		<string>last_name</string>
		<key>title</key>
		<string>title</string>
		<key>contact_description</key>
		<string>description</string>
		<key>phone</key>
		<string>phone</string>
		<key>phone_ext</key>
		<string>phone_ext</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>ServiceLocation</key>
	<dict>
		<key>hide_balance</key>
		<string>hide_balance</string>
		<key>attention</key>
		<string>address.attention</string>
		<key>lng</key>
		<string>address.lng</string>
		<key>phone_kind</key>
		<string>address.phone_kind</string>
		<key>phones</key>
		<string>address.phones</string>
		<key>phones_exts</key>
		<string>address.phones_exts</string>
		<key>phones_kinds</key>
		<string>address.phones_kinds</string>
		<key>lat</key>
		<string>address.lat</string>
		<key>suite</key>
		<string>address.suite</string>
		<key>notes</key>
		<string>address.notes</string>
		<key>country</key>
		<string>address.country</string>
		<key>contact_name</key>
		<string>address.contact_name</string>
		<key>phone</key>
		<string>address.phone</string>
		<key>phone_ext</key>
		<string>address.phone_ext</string>
		<key>entity_id</key>
		<string>id</string>
		<key>customer_id</key>
		<string>customer_id</string>
		<key>location_type_id</key>
		<string>location_type_id</string>
		<key>service_route_id</key>
		<string>service_route_id</string>
		<key>name</key>
		<string>name</string>
		<key>email</key>
		<string>email</string>
		<key>tax_rate_id</key>
		<string>tax_rate_id</string>
		<key>street</key>
		<string>address.street</string>
		<key>street2</key>
		<string>address.street2</string>
		<key>city</key>
		<string>address.city</string>
		<key>state</key>
		<string>address.state</string>
		<key>zip</key>
		<string>address.zip</string>
		<key>county</key>
		<string>address.county</string>
	</dict>
	<key>LocationType</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>location_type_color</key>
		<string>color</string>
		<key>location_type_name</key>
		<string>name</string>
	</dict>
	<key>DeviceArea</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
		<key>account_id</key>
		<string>account_id</string>
	</dict>
	<key>LocationArea</key>
	<dict>
		<key>location_area_name</key>
		<string>name</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>Services</key>
	<dict>
		<key>frequency</key>
		<string>frequency</string>
		<key>entity_id</key>
		<string>id</string>
		<key>account_id</key>
		<string>account_id</string>
		<key>color</key>
		<string>color</string>
		<key>service_description</key>
		<string>description</string>
		<key>price</key>
		<string>price</string>
	</dict>
	<key>ServiceRoutes</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>service_route_name</key>
		<string>name</string>
	</dict>
	<key>Recommendations</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
	</dict>
	<key>Evidences</key>
	<dict>
		<key>name</key>
		<string>name</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>Conditions</key>
	<dict>
		<key>name</key>
		<string>name</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>BillingTerms</key>
	<dict>
		<key>days</key>
		<string>days</string>
		<key>name</key>
		<string>name</string>
		<key>is_default</key>
		<string>is_default</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>TrapConditions</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>trap_condition_name</key>
		<string>name</string>
	</dict>
	<key>DeviceTypes</key>
	<dict>
		<key>device_name</key>
		<string>name</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>BaitConditions</key>
	<dict>
		<key>bait_condition_name</key>
		<string>name</string>
		<key>entity_id</key>
		<string>id</string>
	</dict>
	<key>ApplicationMethods</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>methodName</key>
		<string>name</string>
	</dict>
	<key>DilutionRates</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
	</dict>
	<key>Measurements</key>
	<dict/>
	<key>Statuses</key>
	<dict>
		<key>font_color</key>
		<string>font_color</string>
		<key>color</key>
		<string>color</string>
		<key>status_name</key>
		<string>name</string>
		<key>status_value</key>
		<string>value</string>
	</dict>
	<key>TrapTypes</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>trap_type_name</key>
		<string>name</string>
	</dict>
	<key>Material</key>
	<dict>
		<key>active_ingredient</key>
		<string>active_ingredient</string>
		<key>active_ingredient_percent</key>
		<string>active_ingredient_percent</string>
		<key>entity_id</key>
		<string>id</string>
		<key>name</key>
		<string>name</string>
		<key>price</key>
		<string>price</string>
		<key>epa_number</key>
		<string>epa_number</string>
		<key>default_dilution_rate_id</key>
		<string>default_dilution_rate_id</string>
	</dict>
	<key>MaterialUsage</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>material_id</key>
		<string>material_id</string>
		<key>notes</key>
		<string>notes</string>
		<key>inspection_record_id</key>
		<string>inspection_record_id</string>
	</dict>
	<key>MaterialUsageRecord</key>
	<dict>
		<key>entity_id</key>
		<string>id</string>
		<key>location_area_id</key>
		<string>location_area_id</string>
		<key>amount</key>
		<string>amount</string>
		<key>measurement</key>
		<string>measurement</string>
		<key>application_method</key>
		<string>application_method</string>
		<key>application_method_id</key>
		<string>application_method_id</string>
		<key>dilution_rate_id</key>
		<string>dilution_rate_id</string>
		<key>device</key>
		<string>device</string>
		<key>application_device_type_id</key>
		<string>application_device_type_id</string>
		<key>lot_number</key>
		<string>lot_number</string>
	</dict>
	<key>Appointment</key>
	<dict>
		<key>auto_generates_invoice</key>
		<string>auto_generates_invoice</string>
		<key>started_at_time</key>
		<string>started_at_time</string>
		<key>finished_at_time</key>
		<string>finished_at_time</string>
		<key>entity_id</key>
		<string>id</string>
		<key>report_number</key>
		<string>report_number</string>
		<key>duration</key>
		<string>duration</string>
		<key>status</key>
		<string>status</string>
		<key>notes</key>
		<string>notes</string>
		<key>private_notes</key>
		<string>private_notes</string>
		<key>technician_signature</key>
		<string>technician_signature</string>
		<key>technician_signature_name</key>
		<string>technician_signature_name</string>
		<key>customer_signature</key>
		<string>customer_signature</string>
		<key>service_location_id</key>
		<string>service_location_id</string>
		<key>customer_id</key>
		<string>customer_id</string>
		<key>instructions</key>
		<string>instructions</string>
		<key>square_feet</key>
		<string>square_feet</string>
		<key>wind_direction</key>
		<string>wind_direction</string>
		<key>wind_speed</key>
		<string>wind_speed</string>
		<key>temperature</key>
		<string>temperature</string>
		<key>starts_at_time</key>
		<string>starts_at_time</string>
		<key>ends_at_time</key>
		<string>ends_at_time</string>
		<key>starts_at_date</key>
		<string>starts_at_date</string>
		<key>ends_at_date</key>
		<string>ends_at_date</string>
		<key>worker_lat</key>
		<string>worker_lat</string>
		<key>worker_lng</key>
		<string>worker_lng</string>
		<key>recommendation_ids</key>
		<string>recommendation_ids</string>
		<key>appointment_condition_ids</key>
		<string>appointment_condition_ids</string>
		<key>corrective_action_ids</key>
		<string>corrective_action_ids</string>
		<key>discount</key>
		<string>discount</string>
		<key>tax_amount</key>
		<string>tax_amount</string>
		<key>discount_amount</key>
		<string>discount_amount</string>
		<key>hide_invoice_information</key>
		<string>hide_invoice_information</string>
		<key>is_editing_now</key>
		<string>is_editing_now</string>
		<key>balance_forward</key>
		<string>balance_forward</string>
		<key>callback</key>
		<string>callback</string>
		<key>purchase_order_no</key>
		<string>purchase_order_no</string>
		<key>service_route_ids</key>
		<string>service_route_ids</string>
		<key>arrival_time_start</key>
		<string>arrival_time_start</string>
		<key>arrival_time_end</key>
		<string>arrival_time_end</string>
		<key>confirmed</key>
		<string>confirmed</string>
		<key>confirmed_by</key>
		<string>confirmed_by</string>
		<key>specific</key>
		<string>specific</string>
	</dict>
	<key>LineItem</key>
	<dict>
		<key>entity_status</key>
		<string>entity_status</string>
		<key>lineitem_type</key>
		<string>type</string>
		<key>entity_id</key>
		<string>id</string>
		<key>payable_id</key>
		<string>payable_id</string>
		<key>payable_type</key>
		<string>payable_type</string>
		<key>name</key>
		<string>name</string>
		<key>quantity</key>
		<string>quantity</string>
		<key>price</key>
		<string>price</string>
		<key>total</key>
		<string>total</string>
		<key>taxable</key>
		<string>taxable</string>
	</dict>
	<key>Customer</key>
	<dict>
		<key>account_number</key>
		<string>account_number</string>
		<key>entity_id</key>
		<string>id</string>
		<key>first_name</key>
		<string>first_name</string>
		<key>last_name</key>
		<string>last_name</string>
		<key>name</key>
		<string>name</string>
		<key>name_prefix</key>
		<string>name_prefix</string>
		<key>customer_name</key>
		<string>customer_name</string>
		<key>customer_type</key>
		<string>customer_type</string>
		<key>site</key>
		<string>site</string>
		<key>balance</key>
		<string>balance</string>
		<key>invoice_email</key>
		<string>invoice_email</string>
		<key>billing_phone</key>
		<string>billing_phone</string>
		<key>billing_phone_kind</key>
		<string>billing_phone_kind</string>
		<key>billing_phone_ext</key>
		<string>billing_phone_ext</string>
		<key>billing_phones</key>
		<string>billing_phones</string>
		<key>billing_phones_kinds</key>
		<string>billing_phones_kinds</string>
		<key>billing_phones_exts</key>
		<string>billing_phones_exts</string>
		<key>billing_name</key>
		<string>billing_name</string>
		<key>billing_street</key>
		<string>billing_street</string>
		<key>billing_city</key>
		<string>billing_city</string>
		<key>billing_state</key>
		<string>billing_state</string>
		<key>billing_county</key>
		<string>billing_county</string>
		<key>billing_zip</key>
		<string>billing_zip</string>
		<key>billing_street2</key>
		<string>billing_street2</string>
		<key>billing_contact</key>
		<string>billing_contact</string>
		<key>billing_suite</key>
		<string>billing_suite</string>
		<key>send_report_email</key>
		<string>send_report_email</string>
		<key>email_marketing</key>
		<string>email_marketing</string>
		<key>inspections_enabled</key>
		<string>inspections_enabled</string>
		<key>billing_term_id</key>
		<string>billing_term_id</string>
		<key>billing_attention</key>
		<string>billing_attention</string>
		<key>lat</key>
		<string>lat</string>
		<key>lng</key>
		<string>lng</string>
		<key>payment_methods</key>
		<string>payment_methods</string>
	</dict>
</dict>
</plist>
